<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style>
    </style>
  </head>

  <body>
  	<div class="navbar">
  		thankyoupartner
  	</div>