.table {
  width: 1380px;
  height: 560px;
  top: 120px;
  left: 0;
  position: absolute;
  background-image: url("images/playmat.jpg");
  background-size: 100% 100%;
  background-position: center;
  border-width: 10px;
  border-color: #960 #640 #430 #850;
  border-style: solid;
  [data-players="3"] &, [data-players="4"] & {
    width: 1980px;
    background-size: 100% 110%;
  }
}
#scaled-play-area {
  width: 1400px;
  height: 840px;
  [data-players="3"] &, [data-players="4"] & {
    width: 2000px;
  }
}

#container {
  #layout {
    width: 1400px;
    [data-players="3"] &, [data-players="4"] & {
      width: 2000px;
    }
  }
  #board {
    position: absolute;
    left: 0;
    top: 290px;
    height: 240px;
    width: 100%;
    #characters {
      position: absolute;
      left: 520px;
      top: 12px;
      [data-players="3"] &, [data-players="4"] & {
        left: 820px;
      }
    }
    #eternals {
      position: absolute;
      left: 520px;
      bottom: 12px;
      [data-players="3"] &, [data-players="4"] & {
        left: 820px;
      }
    }
    #shop {
      position: absolute;
      width: 300px;
      height: 220px;
      left: 110px;
      top: 12px;
    }
    #treasure {
      position: absolute;
      left: 20px;
      top: 12px;
    }
    #treasure-discard {
      position: absolute;
      left: 20px;
      top: 135px;
    }
    #dungeon {
      position: absolute;
      width: 300px;
      height: 220px;
      right: 110px;
      top: 12px;
    }
    #monsters {
      position: absolute;
      right: 20px;
      top: 12px;
    }
    #monsters-discard {
      position: absolute;
      right: 20px;
      top: 135px;
    }
    #loot {
      position: absolute;
      left: 615px;
      top: 12px;
      [data-players="3"] &, [data-players="4"] & {
        left: 915px;
      }
    }
    #loot-discard {
      position: absolute;
      left: 709px;
      top: 12px;
      [data-players="3"] &, [data-players="4"] & {
        left: 1009px;
      }
    }
    #bonus-souls {
      position: absolute;
      left: 615px;
      top: 135px;
      height: 100px;
      width: 167px;
      [data-players="3"] &, [data-players="4"] & {
        left: 915px;
      }
    }
    .deck {
      width: 74px;
      height: 100px;
    }
    #room {
      position: absolute;
      left: 810px;
      top: 0px;
      width: 100px;
      height: 74px;
      [data-players="3"] &, [data-players="4"] & {
        left: 1110px;
      }
    }
    #rooms {
      position: absolute;
      left: 810px;
      top: 81px;
      width: 100px;
      height: 74px;
      [data-players="3"] &, [data-players="4"] & {
        left: 1110px;
      }
    }
    #room-discard {
      position: absolute;
      left: 810px;
      bottom: 0px;
      width: 100px;
      height: 74px;
      [data-players="3"] &, [data-players="4"] & {
        left: 1110px;
      }
    }
  }

  .player-mat {
    position: absolute;
    left: 0;
    top: 0;
    height: 290px;
    width: 1400px;
    [data-players="3"] &, [data-players="4"] & {
      width: 1000px;
    }
    &.mine {
      top: 530px;
    }
    &[player-after-me="2"] {
      left: 1000px;
    }
    &[player-after-me="3"] {
      left: 1000px;
      top: 530px;
    }
    #tableau {
      height: 170px;
      width: 1200px;
      position: absolute;
      top: 0px;
      left: 20px;
      [data-players="3"] &, [data-players="4"] & {
        width: 800px;
      }
    }
    #souls {
      height: 170px;
      width: 150px;
      position: absolute;
      top: 0px;
      right: 20px;
    }
    #hand {
      height: 120px;
      width: 100%;
      position: absolute;
      top: 170px;
      padding: 8px 0;
      box-sizing: border-box;
    }
  }

  .counter {
    button {
      background: rgba(0,0,0,0);
      color: black;
      font-size: 35px;
      font-weight: bold;
      line-height: 12px;
      position: relative;
      top: 6px;
      margin: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
      &:hover {
        color: #c30;
      }
    }
    &[display="hp"] img {
      width: 24px;
      margin: 0 0px;
      position: relative;
      top: 7px;
    }
    &[display="attack"] img {
      width: 32px;
      margin: 0 -4px;
      position: relative;
      top: 10px;
    }
  }

  .card {
    width: 73.33px;
    height: 100px;
    transition: transform .2s;
    &[active=true] {
      transform: rotate(90deg);
    }
    &[type="room"] {
      height: 73.33px;
      width: 100px;
    }
    img {
      display: block;
      border-radius: 7px;
    }
    .counter {
      top: 60px;
      left: 2px;
      color: black;
      font-weight: bold;
      position: absolute;
    }
  }

  .coins {
    color: white;
    width: 35px;
    display: inline-block;
    font-size: 15px;
    padding: 0px 2px;
    text-align: center;
    position: relative;
    font-weight: bold;
    font-family: sans-serif;
    img.penny {
      width: 30px;
      position: absolute;
      z-index: -1;
      left: 5px;
      filter: none;
    }
  }
  div.nametag {
    position: absolute;
    top: 170px;
    width: 100%;
    text-align: center;
  }
}
