#board {
  height: 400px;
  width: 800px;
  #shop {
    position: absolute;
    width: 400px;
    height: 100px;
    left: 50px;
    top: 100px;
  }
}

#player-mat {
  position: relative;
  height: 200px;
  width: 800px;
  #tableau {
    height: 100px;
    width: 800px;
    position: absolute;
    top: 0px;
  }
  #hand {
    height: 100px;
    width: 800px;
    position: absolute;
    top: 100px;
  }
}

.card {
  width: 80px;
  height: 100px;
  &[active=true] {
    transform: rotate(80deg);
  }
  img {
    height: 100%;
  }
}
