<%- include('partials/header') %>

<div id="container">
</div>
<script><% if (spectator) { %>window.spectator=true<% } else { %>window.userId=<%=userId%><% } %></script>
<script src="<%=entry%>"></script>

<%- include('partials/footer') %>
