<%- include('partials/header') %>

<h2>Login</h2>
<form method="POST" action="/login">
  <label for="name">Name</label>
  <input name="name" required>
  <label for="password">Password</label>
  <input name="password" type="password" required>
  <input type="submit" value="Login">
</form>

<%- include('partials/footer') %>
