<%- include('partials/header') %>

<h1>Sadly, something has gone off the rails...</h1>

<p>An error has occurred while playing your game. Please contact someone on the <a href="https://discord.gg/hkvp9uPA" target="_new">Discord</a> and let them know, hopefully it can be fixed and y'all can keep on truckin'.</p>

<%- include('partials/footer') %>
