@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&family=Voltaire&display=swap');

.table {
  width: 1200px;
  height: 600px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #804224;
  border-width: 10px;
  border-color: #a52 #642 #421 #953;;
  border-style: solid;
  box-sizing: border-box;
  [data-players="3"] &, [data-players="4"] &, [data-players="5"] &, [data-players="6"] & {
    width: 1600px;
  }
}

#scaled-play-area {
  width: 1200px;
  height: 600px;
  [data-players="3"] &, [data-players="4"] &, [data-players="5"] &, [data-players="6"] & {
    width: 1600px;
  }
}

#container {
  font-family: 'Voltaire', sans-serif;
  #board {
    left: 805px;
    top: 150px;
    height: 300px;
    width: 390px;
    #resources {
      left: -63px;
      top: -128px;
      width: 60px;
      height: 545px;
      .space[resource] {
        width: 10px;
        height: 10px;
      }
    }

    #map {
      left: -790px;
      top: -135px;
      width: 789px;
      height: 570px;
      .cost {
        padding-left: 2px;
        color: #f0f0ff;
        position: absolute;
        text-shadow: 2px 2px 2px black;
        font-weight: bold;
        font-size: 19px;
        &.high {
          text-shadow: 2px 2px 3px black;
          font-size: 23px;
          color: #ffc;
        }
      }
      .resource-cost {
        position: absolute;
        text-shadow: 0px 0px 4px black, 0px 0px 4px black, 0px 0px 4px black;
        font-weight: bold;
        font-size: 12px;
        color: #ffc;
        background: #ec7;
        width: 16px;
        text-align: center;
        height: 16px;
        border-radius: 8px;
      }
      .city {
        position: absolute;
        border: 1px solid #333;
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }

    #score {
      left: -780px;
      top: -125px;
      width: 52px;
      height: 280px;
      .Building {
        position: absolute;
        top: 261px;
        left: 9px;
        &[player="2"] {
          margin-top: -2px;
        }
        &[player="3"] {
          margin-top: -4px;
        }
        &[player="4"] {
          margin-top: -6px;
        }
        &[player="5"] {
          margin-top: -8px;
        }
        &[player="6"] {
          margin-top: -10px;
        }
        &[score="1"] {
          top: 235px;
        }
        &[score="2"] {
          top: 195px;
        }
        &[score="3"] {
          top: 155px;
        }
        &[score="4"] {
          top: 115px;
        }
        &[score="5"] {
          top: 75px;
        }
        &[score="6"] {
          top: 35px;
        }
        &[score="7"] {
          top: 0px;
        }
        &[score="8"] {
          top: 260px;
          left: 35px;
        }
        &[score="9"] {
          top: 240px;
          left: 35px;
        }
        &[score="10"] {
          top: 220px;
          left: 35px;
        }
        &[score="11"] {
          top: 200px;
          left: 35px;
        }
        &[score="12"] {
          top: 180px;
          left: 35px;
        }
        &[score="13"] {
          top: 160px;
          left: 35px;
        }
        &[score="14"] {
          top: 140px;
          left: 35px;
        }
        &[score="15"] {
          top: 120px;
          left: 35px;
        }
        &[score="16"] {
          top: 100px;
          left: 35px;
        }
        &[score="17"] {
          top: 80px;
          left: 35px;
        }
        &[score="18"] {
          top: 60px;
          left: 35px;
        }
        &[score="19"] {
          top: 40px;
          left: 35px;
        }
        &[score="20"] {
          top: 20px;
          left: 35px;
        }
        &[score="21"] {
          top: 0px;
          left: 35px;
        }
      }
    }

    #turns {
      left: -780px;
      top: 253px;
      width: 28px;
      height: 172px;
      .Building {
        position: absolute;
        top: 126px;
        left: 6px;
        &[turn="1"] {
          top: 105px;
        }
        &[turn="2"] {
          top: 84px;
        }
        &[turn="3"] {
          top: 63px;
        }
        &[turn="4"] {
          top: 42px;
        }
        &[turn="5"] {
          top: 21px;
        }
      }
    }

    #deck {
      left: 10px;
      bottom: 20px;
      width: 75px;
      height: 75px;
    }

    #discard {
      left: 100px;
      bottom: 20px;
      width: 75px;
      height: 75px;
    }

    #powerplants {
      left: 10px;
      top: 20px;
      width: 300px;
      height: 150px;
      [auction]::after {
        content: "";
        display: block;
        background-image: url(gavel.png);
        z-index: 1000;
        width: 40px;
        position: absolute;
        height: 50px;
        left: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        left: 15px;
        top: 15px;
        filter: drop-shadow(0 0 4px black) drop-shadow(0 0 2px black);
      }
    }

    #hammer {
      width: 35px;
      img {
        filter: drop-shadow(0px 0px 4px #222);
      }
    }
  }

  .PlayerMat {
    left: 805px;
    top: 0px;
    height: 150px;
    width: 390px;
    &.mine {
      top: 450px;
    }
    &[player-after-me="2"] {
      top: 0;
    }
    [data-players="4"] &[player-after-me="3"], [data-players="5"] &[player-after-me="4"], [data-players="6"] &[player-after-me="5"] {
      top: 450px;
    }
    [data-players="5"] &[player-after-me="3"], [data-players="6"] &[player-after-me="3"] {
      top: 150px;
    }
    [data-players="6"] &[player-after-me="4"] {
      top: 300px;
    }
    &[player-after-me="2"], &[player-after-me="3"], &[player-after-me="4"], &[player-after-me="5"] {
      left: 1195px;
    }
    .Counter#elektro {
      button {
        font-size: 10px;
      }
      .value {
        width: 50px;
        display: inline-block;
        text-align: center;
        background: url("coin.png");
        background-size: 100%;
        height: 50px;
        margin: 0 5px;
        line-height: 60px;
        font-size: 22px;
        color: #4d5000;
        font-weight: bold;
        font-family: fantasy;
        text-shadow: 1px 1px 0 #262900, -1px -1px 0 #dfe4b0;
      }
    }
  }

  .Resource {
    font-family: system-ui;
    line-height: 10px;
    &[type=coal] {
      font-size: 20px;
      color: #420;
    }
    &[type=oil] {
      color: black;
    }
    &[type=garbage] {
      color: yellow;
    }
    &[type=uranium] {
      color: red;
    }
  }

  #building {
    width: 20px;
    &[powered] {
      filter: drop-shadow(0px 0px 6px #efe) drop-shadow(0px 0px 6px #efe) brightness(1.75);
    }
  }

  #score #building {
    width: 10px;
  }

  #turns #building {
    width: 15px;
  }

  .Card {
    width: 75px;
    height: 75px;
    padding: 20px 10px;
    box-sizing: border-box;
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
    &[powered] img {
      filter: brightness(1.5);
    }
  }

  div.nametag {
    text-align: right;
    top: 0;
    font-size: 20px;
    margin: 0 3%;
    width: 94%;
  }

  .flipped div.nametag {
    text-align: left;
  }
}
